In [2]:
import yahoo_fin.stock_info as si
import pandas as pd
import investpy
a = input("Enter The Stock: ")
def my_function(a):
    value=a
    return value
print(my_function(a))

Enter The Stock: SBIN.NS
SBIN.NS

In [3]:
quote = si.get_quote_table(my_function(a))
quote

{'1y Target Est': 348.98,
 '52 Week Range': '149.45 - 427.70',
 'Ask': '358.60 x 0',
 'Avg. Volume': 53026197.0,
 'Beta (5Y Monthly)': 1.02,
 'Bid': '358.55 x 0',
 "Day's Range": '351.20 - 364.50',
 'EPS (TTM)': 25.99,
 'Earnings Date': 'Jun 03, 2021 - Jun 07, 2021',
 'Ex-Dividend Date': 'May 26, 2017',
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Market Cap': '3.202T',
 'Open': 354.4,
 'PE Ratio (TTM)': 13.8,
 'Previous Close': 355.6,
 'Quote Price': 358.75,
 'Volume': 28109169.0}

In [4]:
sheet = si.get_balance_sheet(my_function(a))
sheet

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
capitalSurplus,791154705000,791154705000,791242151000,554232336000
totalLiab,39384883981000,36479315443000,33815073738000,32214487654000
totalStockholderEquity,2510601242000,2344956605000,2303219456000,2171921490000
minorityInterest,79438220000,60369913000,46152451000,64806458000
otherCurrentLiab,269855344000,456498304000,674016503000,674591507000
totalAssets,41974923443000,38884641961000,36164445645000,34451215602000
commonStock,8924612000,8924612000,8924588000,7973504000
otherCurrentAssets,3742214614000,3502108749000,2763479038000,2516923246000
retainedEarnings,1220024967000,1124211207000,1095001122000,1150576637000
otherLiab,2888151874000,2336842870000,2067967279000,2021489661000
goodWill,15499882000,17340701000,17340701000,9434150000
treasuryStock,490496958000,420666081000,408051595000,459139013000
otherAssets,24456621516000,23092289165000,20529964623000,19871092116000
cash,1076817524000,672938074000,603156790000,1271208026000
totalCurrentLiabilities,33166569804000,30004424063000,28055884371000,26829341345000
deferredLongTermAssetCharges,35001946000,109831907000,118377033000,49233787000
otherStockholderEquity,490496958000,420666081000,408051595000,459139013000
propertyPlantEquipment,400781681000,407030526000,412257926000,509407377000
totalCurrentAssets,4819177587000,4175283407000,3366939976000,3788473269000
longTermInvestments,12282842777000,11192698162000,11837942419000,10272808690000
netTangibleAssets,2495101360000,2327615904000,2285878755000,2162487340000
longTermDebt,3329006703000,4137476610000,3690793388000,3363656648000
inventory,145449000,236584000,304148000,341997000
accountsPayable,32741606254000,29405410611000,27221782821000,25998106619000

In [5]:
currentassests = sheet.loc[["cash","inventory","otherCurrentAssets","deferredLongTermAssetCharges","totalCurrentAssets"]]
currentassests

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
cash,1076817524000,672938074000,603156790000,1271208026000
inventory,145449000,236584000,304148000,341997000
otherCurrentAssets,3742214614000,3502108749000,2763479038000,2516923246000
deferredLongTermAssetCharges,35001946000,109831907000,118377033000,49233787000
totalCurrentAssets,4819177587000,4175283407000,3366939976000,3788473269000

In [6]:
noncurrentassests= sheet.loc[["propertyPlantEquipment","goodWill","longTermInvestments","otherAssets"]]
noncurrentassests

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
propertyPlantEquipment,400781681000,407030526000,412257926000,509407377000
goodWill,15499882000,17340701000,17340701000,9434150000
longTermInvestments,12282842777000,11192698162000,11837942419000,10272808690000
otherAssets,24456621516000,23092289165000,20529964623000,19871092116000

In [7]:
currentliabilities=sheet.loc[["accountsPayable","otherCurrentLiab","totalCurrentLiabilities"]]
currentliabilities

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
accountsPayable,32741606254000,29405410611000,27221782821000,25998106619000
otherCurrentLiab,269855344000,456498304000,674016503000,674591507000
totalCurrentLiabilities,33166569804000,30004424063000,28055884371000,26829341345000

In [8]:
noncurrentliabilities=sheet.loc[["longTermDebt","otherLiab"]]
noncurrentliabilities

endDate          2020-03-31     2019-03-31     2018-03-31     2017-03-31
Breakdown
longTermDebt  3329006703000  4137476610000  3690793388000  3363656648000
otherLiab     2888151874000  2336842870000  2067967279000  2021489661000

In [9]:
stockholders=sheet.loc[["capitalSurplus","minorityInterest","commonStock","retainedEarnings","treasuryStock","otherStockholderEquity","totalStockholderEquity"]]
stockholders

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
capitalSurplus,791154705000,791154705000,791242151000,554232336000
minorityInterest,79438220000,60369913000,46152451000,64806458000
commonStock,8924612000,8924612000,8924588000,7973504000
retainedEarnings,1220024967000,1124211207000,1095001122000,1150576637000
treasuryStock,490496958000,420666081000,408051595000,459139013000
otherStockholderEquity,490496958000,420666081000,408051595000,459139013000
totalStockholderEquity,2510601242000,2344956605000,2303219456000,2171921490000

In [62]:
df5=df4.reset_index( level=None, drop=False, inplace=False, col_level=0, col_fill='')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   endDate            4 non-null      datetime64[ns]
 1   totalAssets        4 non-null      int64
 2   totalLiab          4 non-null      int64
 3   netTangibleAssets  4 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 256.0 bytes

In [10]:
from sklearn import preprocessing
import pandas as pd
d = preprocessing.normalize(currentassests[["2020-03-31","2019-03-31","2018-03-31","2017-03-31"]],axis=1,copy=True)
scaled_df = pd.DataFrame(d)
scaled_df

          0         1         2         3
0  0.568152  0.355057  0.318239  0.670717
1  0.271692  0.441927  0.568133  0.638834
2  0.589924  0.552074  0.435636  0.396769
3  0.203016  0.637038  0.686601  0.285562
4  0.591650  0.512599  0.413359  0.465110

In [14]:
import pandas as pd
from sklearn import preprocessing

x = currentassests.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df

          0         1         2         3
0  0.223421  0.161124  0.179067  0.335486
1  0.000000  0.000000  0.000000  0.000000
2  0.776519  0.838762  0.820753  0.664333
3  0.007233  0.026250  0.035071  0.012907
4  1.000000  1.000000  1.000000  1.000000

['Yahoo Finance',
 "(function () { var inputEl = document.getElementById('yfin-usr-qry'); var perf = window.performance; if (inputEl && inputEl.addEventListener && perf && perf.mark && perf.getEntriesByName) { var listener = function (e) { inputEl.removeEventListener('keyup', listener); if (perf.getEntriesByName('Fin.Search first keyup').length === 0) { perf.mark('Fin.Search first keyup'); } }; inputEl.addEventListener('keyup', listener); } })(); if (window && window.FinSearch && window.FinSearch.init) { window.FinSearch.init({}); }",
 "(function () { var inputEl = document.getElementById('yfin-usr-qry'); var perf = window.performance; if (inputEl && inputEl.addEventListener && perf && perf.mark && perf.getEntriesByName) { var listener = function (e) { inputEl.removeEventListener('keyup', listener); if (perf.getEntriesByName('Fin.Search first keyup').length === 0) { perf.mark('Fin.Search first keyup'); } }; inputEl.addEventListener('keyup', listener); } })(); if (window && window.FinSearch && window.FinSearch.init) { window.FinSearch.init({}); }",
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 'Microsoft Corporation (MSFT)',
 'NasdaqGS - NasdaqGS Real Time Price. Currency in USD',
 'At close:  4:00PM EDT',
 'Income Statement',
 'Balance Sheet',
 'Cash Flow',
 'Annual',
 'Quarterly',
 'Expand All',
 'ttm',
 '6/30/2020',
 '6/30/2019',
 '6/30/2018',
 '6/30/2017',
 '153,284,000',
 '143,015,000',
 '125,843,000',
 '110,360,000',
 '89,950,000',
 'Cost of Revenue',
 '48,510,000',
 '46,078,000',
 '42,910,000',
 '38,353,000',
 '34,261,000',
 'Gross Profit',
 '104,774,000',
 '96,937,000',
 '82,933,000',
 '72,007,000',
 '55,689,000',
 '44,619,000',
 '43,978,000',
 '39,974,000',
 '36,949,000',
 '33,057,000',
 'Operating Income',
 '60,155,000',
 '52,959,000',
 '42,959,000',
 '35,058,000',
 '22,632,000',
 '-2,757,000',
 '-2,591,000',
 '-2,686,000',
 '-2,733,000',
 '-2,222,000',
 '3,328,000',
 '2,668,000',
 '3,415,000',
 '4,149,000',
 '2,739,000',
 'Pretax Income',
 '60,726,000',
 '53,036,000',
 '43,688,000',
 '36,474,000',
 '23,149,000',
 'Tax Provision',
 '9,416,000',
 '8,755,000',
 '4,448,000',
 '19,903,000',
 '1,945,000',
 '51,310,000',
 '44,281,000',
 '39,240,000',
 '16,571,000',
 '21,204,000',
 'Diluted NI Available to Com Stockholders',
 '51,310,000',
 '44,281,000',
 '39,240,000',
 '16,571,000',
 '21,204,000',
 'Basic EPS',
 '-',
 '5.82',
 '5.11',
 '2.15',
 '2.74',
 'Diluted EPS',
 '-',
 '5.76',
 '5.06',
 '2.13',
 '2.71',
 'Basic Average Shares',
 '-',
 '7,610,000',
 '7,673,000',
 '7,700,000',
 '7,746,000',
 'Diluted Average Shares',
 '-',
 '7,683,000',
 '7,753,000',
 '7,794,000',
 '7,832,000',
 'Total Operating Income as Reported',
 '60,155,000',
 '52,959,000',
 '42,959,000',
 '35,058,000',
 '22,326,000',
 'Total Expenses',
 '93,129,000',
 '90,056,000',
 '82,884,000',
 '75,302,000',
 '67,318,000',
 'Net Income from Continuing & Discontinued Operation',
 '51,310,000',
 '44,281,000',
 '39,240,000',
 '16,571,000',
 '21,204,000',
 'Normalized Income',
 '48,554,641',
 '42,019,820',
 '36,122,144',
 '13,499,160',
 '18,453,200',
 'Interest Income',
 '-',
 '2,680,000',
 '-',
 '-',
 '-',
 'Interest Expense',
 '2,460,000',
 '2,591,000',
 '2,686,000',
 '2,733,000',
 '2,222,000',
 'Net Interest Income',
 '-2,757,000',
 '-2,591,000',
 '-2,686,000',
 '-2,733,000',
 '-2,222,000',
 'EBIT',
 '63,186,000',
 '55,627,000',
 '46,374,000',
 '39,207,000',
 '25,371,000',
 'EBITDA',
 '75,214,000',
 '-',
 '-',
 '-',
 '-',
 'Reconciled Cost of Revenue',
 '48,510,000',
 '46,078,000',
 '42,910,000',
 '38,353,000',
 '34,261,000',
 'Reconciled Depreciation',
 '12,028,000',
 '12,796,000',
 '11,682,000',
 '10,261,000',
 '8,778,000',
 'Net Income from Continuing Operation Net Minority Interest',
 '51,310,000',
 '44,281,000',
 '39,240,000',
 '16,571,000',
 '21,204,000',
 'Total Unusual Items Excluding Goodwill',
 '3,261,000',
 '2,708,000',
 '3,472,000',
 '4,208,000',
 '2,990,000',
 'Total Unusual Items',
 '3,261,000',
 '2,708,000',
 '3,472,000',
 '4,208,000',
 '2,990,000',
 'Normalized EBITDA',
 '71,953,000',
 '65,715,000',
 '54,584,000',
 '45,260,000',
 '31,159,000',
 'Tax Rate for Calcs',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Tax Effect of Unusual Items',
 '505,641',
 '446,820',
 '354,144',
 '1,136,160',
 '239,200',
 'Advertise with us',
 'Advertise with us',
 '© 2021 Verizon Media. All rights reserved.',
 'Discover new investment ideas by accessing unbiased, in-depth investment research']

In [90]:
from sklearn import preprocessing
import pandas as pd
d = preprocessing.normalize(sheet[["2020-03-31","2019-03-31","2018-03-31","2017-03-31"]],axis=1,copy=True)
scaled_df = pd.DataFrame(d)
scaled_df

['Yahoo Finance',
 "(function () { var inputEl = document.getElementById('yfin-usr-qry'); var perf = window.performance; if (inputEl && inputEl.addEventListener && perf && perf.mark && perf.getEntriesByName) { var listener = function (e) { inputEl.removeEventListener('keyup', listener); if (perf.getEntriesByName('Fin.Search first keyup').length === 0) { perf.mark('Fin.Search first keyup'); } }; inputEl.addEventListener('keyup', listener); } })(); if (window && window.FinSearch && window.FinSearch.init) { window.FinSearch.init({}); }",
 "(function () { var inputEl = document.getElementById('yfin-usr-qry'); var perf = window.performance; if (inputEl && inputEl.addEventListener && perf && perf.mark && perf.getEntriesByName) { var listener = function (e) { inputEl.removeEventListener('keyup', listener); if (perf.getEntriesByName('Fin.Search first keyup').length === 0) { perf.mark('Fin.Search first keyup'); } }; inputEl.addEventListener('keyup', listener); } })(); if (window && window.FinSearch && window.FinSearch.init) { window.FinSearch.init({}); }",
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 ' react-empty: 2 ',
 'Microsoft Corporation (MSFT)',
 'NasdaqGS - NasdaqGS Real Time Price. Currency in USD',
 'At close:  4:00PM EDT',
 'Income Statement',
 'Balance Sheet',
 'Cash Flow',
 'Annual',
 'Quarterly',
 'Expand All',
 '6/30/2020',
 '6/30/2019',
 '6/30/2018',
 '6/30/2017',
 '301,311,000',
 '286,556,000',
 '258,848,000',
 '241,086,000',
 '183,007,000',
 '184,226,000',
 '176,130,000',
 '168,692,000',
 '118,304,000',
 '102,330,000',
 '82,718,000',
 '72,394,000',
 'Total Capitalization',
 '177,882,000',
 '168,992,000',
 '154,960,000',
 '148,467,000',
 'Common Stock Equity',
 '118,304,000',
 '102,330,000',
 '82,718,000',
 '72,394,000',
 'Capital Lease Obligations',
 '7,671,000',
 '6,188,000',
 '5,568,000',
 '-',
 'Net Tangible Assets',
 '67,915,000',
 '52,554,000',
 '38,982,000',
 '27,166,000',
 'Working Capital',
 '109,605,000',
 '106,132,000',
 '111,174,000',
 '95,324,000',
 'Invested Capital',
 '181,631,000',
 '174,508,000',
 '158,958,000',
 '158,588,000',
 'Tangible Book Value',
 '67,915,000',
 '52,554,000',
 '38,982,000',
 '27,166,000',
 'Total Debt',
 '70,998,000',
 '78,366,000',
 '81,808,000',
 '86,194,000',
 'Net Debt',
 '49,751,000',
 '60,822,000',
 '64,294,000',
 '78,531,000',
 'Share Issued',
 '7,571,000',
 '7,643,000',
 '7,677,000',
 '7,708,000',
 'Ordinary Shares Number',
 '7,571,000',
 '7,643,000',
 '7,677,000',
 '7,708,000',
 'Advertise with us',
 'Advertise with us',
 '© 2021 Verizon Media. All rights reserved.',
 'Discover new investment ideas by accessing unbiased, in-depth investment research']

In [6]:
pip uninstall YahooFinance --yes

Found existing installation: yahoofinance 0.0.2
Uninstalling yahoofinance-0.0.2:
  Successfully uninstalled yahoofinance-0.0.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
from yahoofinancials import YahooFinancials

ticker = 'SBIN.NS'
yahoo_financials = YahooFinancials(ticker)

balance_sheet_data_qt = yahoo_financials.get_financial_stmts('annual', 'balance')

In [13]:
balance_sheet_data_qt

{'balanceSheetHistory': {'SBIN.NS': [{'2020-03-31': {'capitalSurplus': 791154705000,
     'totalLiab': 39384883981000,
     'totalStockholderEquity': 2510601242000,
     'minorityInterest': 79438220000,
     'otherCurrentLiab': 269855344000,
     'totalAssets': 41974923443000,
     'commonStock': 8924612000,
     'otherCurrentAssets': 3742214614000,
     'retainedEarnings': 1220024967000,
     'otherLiab': 2888151874000,
     'goodWill': 15499882000,
     'treasuryStock': 490496958000,
     'otherAssets': 24456621516000,
     'cash': 1076817524000,
     'totalCurrentLiabilities': 33166569804000,
     'deferredLongTermAssetCharges': 35001946000,
     'otherStockholderEquity': 490496958000,
     'propertyPlantEquipment': 400781681000,
     'totalCurrentAssets': 4819177587000,
     'longTermInvestments': 12282842777000,
     'netTangibleAssets': 2495101360000,
     'longTermDebt': 3329006703000,
     'inventory': 145449000,
     'accountsPayable': 32741606254000}},
   {'2019-03-31': {'capitalSurplus': 791154705000,
     'totalLiab': 36479315443000,
     'totalStockholderEquity': 2344956605000,
     'minorityInterest': 60369913000,
     'otherCurrentLiab': 456498304000,
     'totalAssets': 38884641961000,
     'commonStock': 8924612000,
     'otherCurrentAssets': 3502108749000,
     'retainedEarnings': 1124211207000,
     'otherLiab': 2336842870000,
     'goodWill': 17340701000,
     'treasuryStock': 420666081000,
     'otherAssets': 23092289165000,
     'cash': 672938074000,
     'totalCurrentLiabilities': 30004424063000,
     'deferredLongTermAssetCharges': 109831907000,
     'otherStockholderEquity': 420666081000,
     'propertyPlantEquipment': 407030526000,
     'totalCurrentAssets': 4175283407000,
     'longTermInvestments': 11192698162000,
     'netTangibleAssets': 2327615904000,
     'longTermDebt': 4137476610000,
     'inventory': 236584000,
     'accountsPayable': 29405410611000}},
   {'2018-03-31': {'capitalSurplus': 791242151000,
     'totalLiab': 33815073738000,
     'totalStockholderEquity': 2303219456000,
     'minorityInterest': 46152451000,
     'otherCurrentLiab': 674016503000,
     'totalAssets': 36164445645000,
     'commonStock': 8924588000,
     'otherCurrentAssets': 2763479038000,
     'retainedEarnings': 1095001122000,
     'otherLiab': 2067967279000,
     'goodWill': 17340701000,
     'treasuryStock': 408051595000,
     'otherAssets': 20529964623000,
     'cash': 603156790000,
     'totalCurrentLiabilities': 28055884371000,
     'deferredLongTermAssetCharges': 118377033000,
     'otherStockholderEquity': 408051595000,
     'propertyPlantEquipment': 412257926000,
     'totalCurrentAssets': 3366939976000,
     'longTermInvestments': 11837942419000,
     'netTangibleAssets': 2285878755000,
     'longTermDebt': 3690793388000,
     'inventory': 304148000,
     'accountsPayable': 27221782821000}},
   {'2017-03-31': {'capitalSurplus': 554232336000,
     'totalLiab': 32214487654000,
     'totalStockholderEquity': 2171921490000,
     'minorityInterest': 64806458000,
     'otherCurrentLiab': 674591507000,
     'totalAssets': 34451215602000,
     'commonStock': 7973504000,
     'otherCurrentAssets': 2516923246000,
     'retainedEarnings': 1150576637000,
     'otherLiab': 2021489661000,
     'goodWill': 9434150000,
     'treasuryStock': 459139013000,
     'otherAssets': 19871092116000,
     'cash': 1271208026000,
     'totalCurrentLiabilities': 26829341345000,
     'deferredLongTermAssetCharges': 49233787000,
     'otherStockholderEquity': 459139013000,
     'propertyPlantEquipment': 509407377000,
     'totalCurrentAssets': 3788473269000,
     'longTermInvestments': 10272808690000,
     'netTangibleAssets': 2162487340000,
     'longTermDebt': 3363656648000,
     'inventory': 341997000,
     'accountsPayable': 25998106619000}}]}}

[('Cash Flow', 'Annual', 'Quarterly', 'Expand All', '6/30/2020', '6/30/2019'),
 ('6/30/2018',
  '6/30/2017',
  '301,311,000',
  '286,556,000',
  '258,848,000',
  '241,086,000'),
 ('183,007,000',
  '184,226,000',
  '176,130,000',
  '168,692,000',
  '118,304,000',
  '102,330,000'),
 ('82,718,000',
  '72,394,000',
  'Total Capitalization',
  '177,882,000',
  '168,992,000',
  '154,960,000'),
 ('148,467,000',
  'Common Stock Equity',
  '118,304,000',
  '102,330,000',
  '82,718,000',
  '72,394,000'),
 ('Capital Lease Obligations',
  '7,671,000',
  '6,188,000',
  '5,568,000',
  '-',
  'Net Tangible Assets'),
 ('67,915,000',
  '52,554,000',
  '38,982,000',
  '27,166,000',
  'Working Capital',
  '109,605,000'),
 ('106,132,000',
  '111,174,000',
  '95,324,000',
  'Invested Capital',
  '181,631,000',
  '174,508,000'),
 ('158,958,000',
  '158,588,000',
  'Tangible Book Value',
  '67,915,000',
  '52,554,000',
  '38,982,000'),
 ('27,166,000',
  'Total Debt',
  '70,998,000',
  '78,366,000',
  '81,808,000',
  '86,194,000'),
 ('Net Debt',
  '49,751,000',
  '60,822,000',
  '64,294,000',
  '78,531,000',
  'Share Issued'),
 ('7,571,000',
  '7,643,000',
  '7,677,000',
  '7,708,000',
  'Ordinary Shares Number',
  '7,571,000'),
 ('7,643,000',
  '7,677,000',
  '7,708,000',
  'Advertise with us',
  'Advertise with us',
  '© 2021 Verizon Media. All rights reserved.')]

In [95]:
is_data2

[('Cash Flow', 'Annual', 'Quarterly', 'Expand All', 'ttm', '6/30/2020'),
 ('6/30/2019',
  '6/30/2018',
  '6/30/2017',
  '68,028,000',
  '60,675,000',
  '52,185,000'),
 ('43,884,000',
  '39,507,000',
  '-11,451,000',
  '-12,223,000',
  '-15,773,000',
  '-6,061,000'),
 ('-46,781,000',
  '-50,830,000',
  '-46,031,000',
  '-36,887,000',
  '-33,590,000',
  '8,408,000'),
 ('14,611,000',
  '13,576,000',
  '11,356,000',
  '11,946,000',
  '7,663,000',
  'Capital Expenditure'),
 ('-17,592,000',
  '-15,441,000',
  '-13,925,000',
  '-11,632,000',
  '-8,129,000',
  'Issuance of Capital Stock'),
 ('1,529,000',
  '1,343,000',
  '1,142,000',
  '1,002,000',
  '772,000',
  'Issuance of Debt'),
 ('-', '0', '0', '7,183,000', '44,344,000', 'Repayment of Debt'),
 ('-6,250,000',
  '-5,518,000',
  '-4,000,000',
  '-10,060,000',
  '-7,922,000',
  'Repurchase of Capital Stock'),
 ('-26,128,000',
  '-22,968,000',
  '-19,543,000',
  '-10,721,000',
  '-11,788,000',
  'Free Cash Flow'),
 ('50,436,000',
  '45,234,000',
  '38,260,000',
  '32,252,000',
  '31,378,000',
  'Advertise with us')]

,0,1,2,3,4,5
0,Cash Flow,Annual,Quarterly,Expand All,ttm,6/30/2020
1,6/30/2019,6/30/2018,6/30/2017,"153,284,000","143,015,000","125,843,000"
2,"110,360,000","89,950,000",Cost of Revenue,"48,510,000","46,078,000","42,910,000"
3,"38,353,000","34,261,000",Gross Profit,"104,774,000","96,937,000","82,933,000"
4,"72,007,000","55,689,000","44,619,000","43,978,000","39,974,000","36,949,000"
5,"33,057,000",Operating Income,"60,155,000","52,959,000","42,959,000","35,058,000"
6,"22,632,000","-2,757,000","-2,591,000","-2,686,000","-2,733,000","-2,222,000"
7,"3,328,000","2,668,000","3,415,000","4,149,000","2,739,000",Pretax Income
8,"60,726,000","53,036,000","43,688,000","36,474,000","23,149,000",Tax Provision
9,"9,416,000","8,755,000","4,448,000","19,903,000","1,945,000","51,310,000"
10,"44,281,000","39,240,000","16,571,000","21,204,000",Diluted NI Available to Com Stockholders,"51,310,000"
11,"44,281,000","39,240,000","16,571,000","21,204,000",Basic EPS,-
12,5.82,5.11,2.15,2.74,Diluted EPS,-
13,5.76,5.06,2.13,2.71,Basic Average Shares,-
14,"7,610,000","7,673,000","7,700,000","7,746,000",Diluted Average Shares,-
15,"7,683,000","7,753,000","7,794,000","7,832,000",Total Operating Income as Reported,"60,155,000"
16,"52,959,000","42,959,000","35,058,000","22,326,000",Total Expenses,"93,129,000"
17,"90,056,000","82,884,000","75,302,000","67,318,000",Net Income from Continuing & Discontinued Oper...,"51,310,000"
18,"44,281,000","39,240,000","16,571,000","21,204,000",Normalized Income,"48,554,641"
19,"42,019,820","36,122,144","13,499,160","18,453,200",Interest Income,-
20,"2,680,000",-,-,-,Interest Expense,"2,460,000"
21,"2,591,000","2,686,000","2,733,000","2,222,000",Net Interest Income,"-2,757,000"
22,"-2,591,000","-2,686,000","-2,733,000","-2,222,000",EBIT,"63,186,000"
23,"55,627,000","46,374,000","39,207,000","25,371,000",EBITDA,"75,214,000"
24,-,-,-,-,Reconciled Cost of Revenue,"48,510,000"
25,"46,078,000","42,910,000","38,353,000","34,261,000",Reconciled Depreciation,"12,028,000"
26,"12,796,000","11,682,000","10,261,000","8,778,000",Net Income from Continuing Operation Net Minor...,"51,310,000"
27,"44,281,000","39,240,000","16,571,000","21,204,000",Total Unusual Items Excluding Goodwill,"3,261,000"
28,"2,708,000","3,472,000","4,208,000","2,990,000",Total Unusual Items,"3,261,000"
29,"2,708,000","3,472,000","4,208,000","2,990,000",Normalized EBITDA,"71,953,000"
30,"65,715,000","54,584,000","45,260,000","31,159,000",Tax Rate for Calcs,0
31,0,0,0,0,Tax Effect of Unusual Items,"505,641"
32,"446,820","354,144","1,136,160","239,200",Advertise with us,Advertise with us

,0,1,2,3,4,5
0,Cash Flow,Annual,Quarterly,Expand All,6/30/2020,6/30/2019
1,6/30/2018,6/30/2017,"301,311,000","286,556,000","258,848,000","241,086,000"
2,"183,007,000","184,226,000","176,130,000","168,692,000","118,304,000","102,330,000"
3,"82,718,000","72,394,000",Total Capitalization,"177,882,000","168,992,000","154,960,000"
4,"148,467,000",Common Stock Equity,"118,304,000","102,330,000","82,718,000","72,394,000"
5,Capital Lease Obligations,"7,671,000","6,188,000","5,568,000",-,Net Tangible Assets
6,"67,915,000","52,554,000","38,982,000","27,166,000",Working Capital,"109,605,000"
7,"106,132,000","111,174,000","95,324,000",Invested Capital,"181,631,000","174,508,000"
8,"158,958,000","158,588,000",Tangible Book Value,"67,915,000","52,554,000","38,982,000"
9,"27,166,000",Total Debt,"70,998,000","78,366,000","81,808,000","86,194,000"
10,Net Debt,"49,751,000","60,822,000","64,294,000","78,531,000",Share Issued
11,"7,571,000","7,643,000","7,677,000","7,708,000",Ordinary Shares Number,"7,571,000"
12,"7,643,000","7,677,000","7,708,000",Advertise with us,Advertise with us,© 2021 Verizon Media. All rights reserved.

,0,1,2,3,4,5
0,Cash Flow,Annual,Quarterly,Expand All,ttm,6/30/2020
1,6/30/2019,6/30/2018,6/30/2017,"68,028,000","60,675,000","52,185,000"
2,"43,884,000","39,507,000","-11,451,000","-12,223,000","-15,773,000","-6,061,000"
3,"-46,781,000","-50,830,000","-46,031,000","-36,887,000","-33,590,000","8,408,000"
4,"14,611,000","13,576,000","11,356,000","11,946,000","7,663,000",Capital Expenditure
5,"-17,592,000","-15,441,000","-13,925,000","-11,632,000","-8,129,000",Issuance of Capital Stock
6,"1,529,000","1,343,000","1,142,000","1,002,000","772,000",Issuance of Debt
7,-,0,0,"7,183,000","44,344,000",Repayment of Debt
8,"-6,250,000","-5,518,000","-4,000,000","-10,060,000","-7,922,000",Repurchase of Capital Stock
9,"-26,128,000","-22,968,000","-19,543,000","-10,721,000","-11,788,000",Free Cash Flow
10,"50,436,000","45,234,000","38,260,000","32,252,000","31,378,000",Advertise with us

In [100]:
Income_st.columns = Income_st.iloc[0] # Name columns to first row of dataframe
Income_st = Income_st.iloc[1:,] # start to read 1st row
Income_st = Income_st.T # transpose dataframe
Income_st.columns = Income_st.iloc[0] #Name columns to first row of dataframe
Income_st.drop(Income_st.index[0],inplace=True) #Drop first index row
Income_st.index.name = "" # Remove the index name
Income_st.rename(index={"ttm": "12/31/2019"},inplace=True) #Rename ttm in index columns to end of the year
Income_st = Income_st[Income_st.columns[:-5]] # remove last 5 irrelevant columns

In [101]:
Balance_st.columns = Balance_st.iloc[0] # Name columns to first row of dataframe
Balance_st = Balance_st.iloc[1:,] # start to read 1st row
Balance_st = Balance_st.T # transpose dataframe
Balance_st.columns = Balance_st.iloc[0] #Name columns to first row of dataframe
Balance_st.drop(Balance_st.index[0],inplace=True) #Drop first index row
Balance_st.index.name = "" # Remove the index name
Balance_st.rename(index={"ttm": "12/31/2019"},inplace=True) #Rename ttm in index columns to end of the year
Balance_st = Balance_st[Balance_st.columns[:-5]] # remove last 5 irrelevant columns

In [102]:
CashFlow_st.columns = CashFlow_st.iloc[0] # Name columns to first row of dataframe
CashFlow_st = CashFlow_st.iloc[1:,] # start to read 1st row
CashFlow_st = CashFlow_st.T # transpose dataframe
CashFlow_st.columns = CashFlow_st.iloc[0] #Name columns to first row of dataframe
CashFlow_st.drop(CashFlow_st.index[0],inplace=True) #Drop first index row
CashFlow_st.index.name = "" # Remove the index name
CashFlow_st.rename(index={"ttm": "12/31/2019"},inplace=True) #Rename ttm in index columns to end of the year
CashFlow_st_st = CashFlow_st[CashFlow_st.columns[:-5]] # remove last 5 irrelevant columns

Cash Flow,6/30/2019,"110,360,000","38,353,000","72,007,000","33,057,000","22,632,000","3,328,000","60,726,000","9,416,000","44,281,000",...,"2,591,000","-2,591,000","55,627,000",-,"46,078,000","12,796,000","44,281,000","44,281,000","44,281,000","44,281,000"
,,,,,,,,,,,,,,,,,,,,,
Annual,6/30/2018,"89,950,000","34,261,000","55,689,000",Operating Income,"-2,757,000","2,668,000","53,036,000","8,755,000","39,240,000",...,"2,686,000","-2,686,000","46,374,000",-,"42,910,000","11,682,000","39,240,000","39,240,000","39,240,000","39,240,000"
Quarterly,6/30/2017,Cost of Revenue,Gross Profit,"44,619,000","60,155,000","-2,591,000","3,415,000","43,688,000","4,448,000","16,571,000",...,"2,733,000","-2,733,000","39,207,000",-,"38,353,000","10,261,000","16,571,000","16,571,000","16,571,000","16,571,000"
Expand All,"153,284,000","48,510,000","104,774,000","43,978,000","52,959,000","-2,686,000","4,149,000","36,474,000","19,903,000","21,204,000",...,"2,222,000","-2,222,000","25,371,000",-,"34,261,000","8,778,000","21,204,000","21,204,000","21,204,000","21,204,000"
12/31/2019,"143,015,000","46,078,000","96,937,000","39,974,000","42,959,000","-2,733,000","2,739,000","23,149,000","1,945,000",Diluted NI Available to Com Stockholders,...,Net Interest Income,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minor...,Diluted NI Available to Com Stockholders,Basic EPS,Normalized Income,Total Unusual Items Excluding Goodwill
6/30/2020,"125,843,000","42,910,000","82,933,000","36,949,000","35,058,000","-2,222,000",Pretax Income,Tax Provision,"51,310,000","51,310,000",...,"-2,757,000","63,186,000","75,214,000","48,510,000","12,028,000","51,310,000","51,310,000",-,"48,554,641","3,261,000"

In [104]:
Balance_st

Cash Flow,6/30/2018,"183,007,000","82,718,000","148,467,000",Capital Lease Obligations,"67,915,000","106,132,000"
,,,,,,,
Annual,6/30/2017,"184,226,000","72,394,000",Common Stock Equity,"7,671,000","52,554,000","111,174,000"
Quarterly,"301,311,000","176,130,000",Total Capitalization,"118,304,000","6,188,000","38,982,000","95,324,000"
Expand All,"286,556,000","168,692,000","177,882,000","102,330,000","5,568,000","27,166,000",Invested Capital
6/30/2020,"258,848,000","118,304,000","168,992,000","82,718,000",-,Working Capital,"181,631,000"
6/30/2019,"241,086,000","102,330,000","154,960,000","72,394,000",Net Tangible Assets,"109,605,000","174,508,000"

Cash Flow,6/30/2019,"43,884,000","-46,781,000","14,611,000","-17,592,000","1,529,000",-,"-6,250,000","-26,128,000","50,436,000"
,,,,,,,,,,
Annual,6/30/2018,"39,507,000","-50,830,000","13,576,000","-15,441,000","1,343,000",0,"-5,518,000","-22,968,000","45,234,000"
Quarterly,6/30/2017,"-11,451,000","-46,031,000","11,356,000","-13,925,000","1,142,000",0,"-4,000,000","-19,543,000","38,260,000"
Expand All,"68,028,000","-12,223,000","-36,887,000","11,946,000","-11,632,000","1,002,000","7,183,000","-10,060,000","-10,721,000","32,252,000"
12/31/2019,"60,675,000","-15,773,000","-33,590,000","7,663,000","-8,129,000","772,000","44,344,000","-7,922,000","-11,788,000","31,378,000"
6/30/2020,"52,185,000","-6,061,000","8,408,000",Capital Expenditure,Issuance of Capital Stock,Issuance of Debt,Repayment of Debt,Repurchase of Capital Stock,Free Cash Flow,Advertise with us

In [3]:
import yahoo_fin.stock_info as si
import pandas as pd
quote = si.get_quote_table("HDFCBANK.NS")

In [4]:
quote

{'1y Target Est': 2405.29,
 '52 Week Range': '813.85 - 1,641.00',
 'Ask': '0.00 x 0',
 'Avg. Volume': 9773755.0,
 'Beta (5Y Monthly)': 0.85,
 'Bid': '0.00 x 0',
 "Day's Range": '1,465.00 - 1,499.40',
 'EPS (TTM)': 55.67,
 'Earnings Date': nan,
 'Ex-Dividend Date': 'Aug 01, 2019',
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Market Cap': '8.196T',
 'Open': 1499.4,
 'PE Ratio (TTM)': 26.71,
 'Previous Close': 1493.65,
 'Quote Price': 1486.75,
 'Volume': 17873453.0}

In [5]:
sheet = si.get_balance_sheet("HDFCBANK.NS")

In [6]:
sheet

endDate,2020-03-31,2019-03-31,2018-03-31,2017-03-31
Breakdown,,,,
capitalSurplus,587555328000,569105180000,311945097000,284751089000
totalLiab,14038950908000,11386312525000,9932307130000,8002587730000
totalStockholderEquity,1763587052000,1536726595000,1095991243000,917939488000
minorityInterest,5766413000,5017945000,3563322000,2914389000
otherCurrentLiab,75837207000,70403952000,82217908000,166670863000
totalAssets,15808304373000,12928057065000,11031861695000,8923441607000
commonStock,5483286000,5446613000,5190181000,5125091000
otherCurrentAssets,759862630000,506530733000,1080461551000,436780059000
retainedEarnings,1110956516000,927301231000,753719211000,604945635000
otherLiab,546873586000,431076159000,335157187000,374503473000
goodWill,1487900000,1487900000,1487900000,1850000000
treasuryStock,59591922000,34873571000,25136754000,23117673000
otherAssets,10766240273000,8950457501000,7134390808000,6063291345000
cash,249426893000,424455141000,259234113000,156778386000
totalCurrentLiabilities,11623734091000,9377908576000,8032729095000,6643927818000
deferredLongTermAssetCharges,41442300000,46206800000,35320700000,25870600000
otherStockholderEquity,59591922000,34873571000,25136754000,23117673000
propertyPlantEquipment,46268558000,42198371000,38105583000,38146997000
totalCurrentAssets,1101258123000,1039308374000,1473268164000,712382145000
longTermInvestments,3893049519000,2894604919000,2384609240000,2107771120000
netTangibleAssets,1762099152000,1535238695000,1094503343000,916089488000
shortTermInvestments,91968600000,108322500000,133572500000,118823700000
longTermDebt,1868343231000,1577327790000,1564420848000,984156439000
accountsPayable,11462071336000,9225026779000,7883751419000,6431342479000

            Total Assets  Total Liabilities  Total Equity
Date
2020-03-31   41974923.44        39464322.20    2510601.24
2019-03-31   38884641.96        36539685.36    2344956.60
2018-03-31   36164330.03        33861110.57    2303219.46
2017-03-31   34451215.60        32279294.11    2171921.49

endDate
2020-03-31    15808304373000
2019-03-31    12928057065000
2018-03-31    11031861695000
2017-03-31     8923441607000
Name: totalAssets, dtype: int64

NameError: name 'si' is not defined